body{

}
/*Navigation*/

.menubar{
 margin: 0 auto;
width:80vw;
height: 75px;
/*border: 2px solid black;*/
padding-bottom: 20px;
}
.display{
display: flex;
justify-content:space-around ;
list-style: none;
font-family: slabo;
font-size: 30px;
background-color:red;
text-decoration: none;
}
#dropdown {
display: none;
position: absolute;
font-size:20px;
list-style:none;
}
li:hover #dropdown {
display: block;
}
a{
text-decoration: none;
color:black;
}


/*Main*/
header{
font-family: slabo;
color:black;
text-align: center;
margin-top: 30px;
font-size: 60px
}
#colorspecial {
color:rgb(236, 38, 8);
}
.box{
display: flex;
margin-left: 200px;
margin-right:200px;
padding-bottom: 40px;
  }
.littlebox{
justify-content:space-around;
width: 400px;
height: 150;
border:3px ridge black;
border-radius: 10px;
text-align:center;
margin: 10px;
background-image:url("Images/Abstract.jpg");
}
#columnBox{
display:grid;
padding: 0 50px 50px 50px;
grid-template: min-content auto auto min-content;
grid-template-areas: 'p1 p2';
grid-gap:50px;
}

/*Footer*/
footer {
margin: 0 auto;
width:80vw;
background: red;
}

/*Contact Styles*/
div{
  padding-top: 10px;
  padding-bottom: 10px;
}
#fieldbox{
width: 700px;
}
#fboxtitle{
padding:15px;
font-size:20px;
background:cornflowerblue;
color:white;
}
.info{
font-size: 22px;
}

#interest{
font-size: 22px;
}
#comments{
width: 350px;
height:200px;
font-size: 22px;
}
#mailbox{
width: 100px;
height: 100px;
}
#send{
display:flex;
justify-content: center;
}
#send1{
font-size: 30px;
font-weight:bold;
font-variant:small-caps;
}

/*About Styles*/

#box1{
  grid-area:header;
  text-align:center;
  font-size: 30px;
  color:white;
  background-color: black;

}
#box2{
  grid-area:image;
  text-align:center;
  padding-top:20px;
  padding-bottom: 30px;
}
#box3{
  grid-area:sports;
  font-size: 24px;
 text-align:center;

}
#box4{
  grid-area:stats;
  text-align: center;
  padding-bottom: 30px;

}
#box5{
    grid-area:art;
    font-size: 24px;

}
#box6{
  grid-area:3d;
  text-align:center;
  padding-bottom: 30px;
      }
#box7{
  grid-area:ai;
  font-size: 24px;
}
#box8{
  grid-area:code;
  text-align:center;
  padding-bottom: 30px;
}
#box9{
  grid-area:catalog;
  font-size: 24px;
}
#box10{
  grid-area:seed;
  text-align:center;
  padding-bottom: 30px;
}
.container{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto;
  grid-template-areas:
  "header header"
  "image image"
  "sports stats"
  "art 3d"
  "ai code"
  "catalog seed";
  padding-left: 150px;
}
